@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

:root {
    --font-base: 'Raleway', sans-serif;

    --c-primary: #5ECE7B;
    --c-black: #1D1F22;
    --background: #ffffff;
    --gray-currency-bg: #EEEEEE;
    --background-overlay: rgba(57, 55, 72, 0.22);
    --btn-background: #5ECE7B;
    --c-white: #FFFFFF;
    --c-text: #1D1F22;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

